<<<<<<< HEAD
.navbar .nav-link:hover{
	background-color: black;
	color: #fff !important;
}
.navbar .nav-link.active{
	background-color: black;
	color: white !important;
}
=======
.navbar .nav-link:hover{
	background-color: black;
	color: #fff !important;
}
.navbar .nav-link.active{
	background-color: black;
	color: white !important;
}
>>>>>>> 1c68389f88070619c89a336bdf833b9c2cd2272d
